* {
  box-sizing: border-box;
  background-color: #fff8ed;
}

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 60px;
  text-align: center;
}

body {
  padding: 1rem;
}

header{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  min-height: 125px;
  margin-top: 1.15rem;
  position: relative;
  display: block;
  /*
  flex-wrap: wrap;
  flex-direction: row; */
}

header::before,
header::after {
  content: "";
  height: 1px;
  flex-basis: 100%;
  background: black;
  margin-top: 2px;
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 64em;
  border-radius: 15px;
  padding: 1.4rem 1rem;
  padding-bottom: 0.5rem;
}

.search-container {
  margin: 0 auto;
  border: 2px solid black;
}

h2{
  font-family: 'Old Standard TT', serif;
  font-size: 30px;
}
.search-title{
  padding: 3em;
  padding-bottom: 0;
}

form{
  padding: 3em;
  margin: 0;
}

input{
  padding: 5px;
}
.button {
  padding: 1em;
  margin: 1em;
  background-color: black;
  color:#fff8ed;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

label{
  margin: 1em;
  font-size: 20px;
  font-family: 'Old Standard TT', serif;
  font-weight: bold;
}

.results-page{
  font-family: 'News Cycle', sans-serif;
  border: 2px solid black;
  margin: 2em;
}

h3{
  font-size: 30px;
  padding: 1em;
  padding-bottom: 0;
  font-family: 'Old Standard TT', serif;
  
}

.hidden {
  display: none;
}

h4{
  font-size: 20px;
  font-weight: bold;
}